# Практическая работа №8. Предобработка данных

##Задание 8.1. Предобработка данных.
1. Чтение файла. Функция read_csv(). Загрузить файл sample.csv.
2. Редактирование названия колонок. Функция columns().
3. Очистка данных. Валидность данных. Функции unique() и info().
4. Поиск значений с ошибками в файле sample.csv. Удаление столбца функция
drop().
5. Фильтрация ошибок. Функция query(). Функции str.match() и str.contains().
6. Преобразование данных. Функция apply().

##Задание 8.2. Анализ данных файла films.csv.
1.Загрузить файл films.csv.

2. Написать отчет.

3. Выполнить задание.

Задание варианта 9

1)Выполните задание с применением собственных функций на основе
набора данных films.csv:

2)Какой актер снялся в большем количестве высокобюджетных фильмов?
Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [29]:
import pandas as pd
import os

path = '/mnt/data/DATA_unpacked/films.csv'

if os.path.exists(path):
    films = pd.read_csv(path)

    print("Колонки:", films.columns.tolist())
    print(films.head(), "\n")


    def count_by_genre(df, genre_name):
        """
        Считает количество фильмов, где встречается заданный жанр в колонке 'genres'.
        """
        return df['genres'].apply(lambda x: genre_name in str(x).split('|')).sum()

    def average_rating(df):
        """
        Возвращает средний рейтинг фильмов по колонке 'vote_average'.
        """
        return df['vote_average'].mean()


    print("Количество фильмов жанра Action:", count_by_genre(films, 'Action'))

    print("Количество фильмов жанра Comedy:", count_by_genre(films, 'Comedy'))

    print("Средний рейтинг фильмов:", round(average_rating(films), 2))

else:
    print('Файл films.csv не найден по пути', path)

Колонки: ['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast', 'director', 'tagline', 'overview', 'runtime', 'genres', 'production_companies', 'release_date', 'vote_count', 'vote_average', 'release_year']
     imdb_id  popularity     budget     revenue                original_title  \
0  tt0369610   32.985763  150000000  1513528810                Jurassic World
1  tt1392190   28.419936  150000000   378436354            Mad Max: Fury Road
2  tt2908446   13.112507  110000000   295238201                     Insurgent
3  tt2488496   11.173104  200000000  2068178225  Star Wars: The Force Awakens
4  tt2820852    9.335014  190000000  1506249360                     Furious 7

                                                cast          director  \
0  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...   Colin Trevorrow
1  Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...     George Miller
2  Shailene Woodley|Theo James|Kate Winslet|Ansel...  Robert Schwentke
3  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...       J.J. Abrams
4  Vin Diesel|Paul Walker|Jason Statham|Michelle ...         James Wan

                         tagline  \
0              The park is open.
1             What a Lovely Day.
2     One Choice Can Destroy You
3  Every generation has a story.
4            Vengeance Hits Home

                                            overview  runtime  \
0  Twenty-two years after the events of Jurassic ...      124
1  An apocalyptic story set in the furthest reach...      120
2  Beatrice Prior must confront her inner demons ...      119
3  Thirty years after defeating the Galactic Empi...      136
4  Deckard Shaw seeks revenge against Dominic Tor...      137

                                      genres  \
0  Action|Adventure|Science Fiction|Thriller
1  Action|Adventure|Science Fiction|Thriller
2         Adventure|Science Fiction|Thriller
3   Action|Adventure|Science Fiction|Fantasy
4                      Action|Crime|Thriller

                                production_companies release_date  vote_count  \
0  Universal Studios|Amblin Entertainment|Legenda...     6/9/2015        5562
1  Village Roadshow Pictures|Kennedy Miller Produ...    5/13/2015        6185
2  Summit Entertainment|Mandeville Films|Red Wago...    3/18/2015        2480
3          Lucasfilm|Truenorth Productions|Bad Robot   12/15/2015        5292
4  Universal Pictures|Original Film|Media Rights ...     4/1/2015        2947

   vote_average  release_year
0           6.5          2015
1           7.1          2015
2           6.3          2015
3           7.5          2015
4           7.3          2015

Количество фильмов жанра Action: 583
Количество фильмов жанра Comedy: 683
Средний рейтинг фильмов: 6.14

In [31]:
import pandas as pd
import os
from collections import Counter

path = '/mnt/data/DATA_unpacked/films.csv'

if os.path.exists(path):
    films = pd.read_csv(path)

    films['budget'] = pd.to_numeric(films['budget'], errors='coerce')

    mean_budget = films['budget'].mean()
    print("Средний бюджет фильмов:", round(mean_budget, 2))

    high_budget_films = films[films['budget'] > mean_budget]

    all_actors = high_budget_films['cast'].dropna().apply(lambda x: x.split('|'))

    actors_list = [actor for sublist in all_actors for actor in sublist]

    actor_count = Counter(actors_list)

    top_actor, num_films = actor_count.most_common(1)[0]
    print(f"Актёр с наибольшим числом высокобюджетных фильмов: {top_actor}, количество фильмов: {num_films}")

else:
    print("Файл films.csv не найден по пути", path)

Средний бюджет фильмов: 54506961.47
Актёр с наибольшим числом высокобюджетных фильмов: Matt Damon, количество фильмов: 18

Ответы на вопросы:

1.Чтение файла. Функция read_csv() Используется для чтения CSV-файлов в DataFrame. Синтаксис: pandas.read_csv(путь_к_файлу, sep=',', encoding='utf-8', header=0)

Пример:

import pandas as pd

data = pd.read_csv('sample.csv')

2.Функция columns() Позволяет получить или изменить названия столбцов DataFrame. Синтаксис:

data.columns        # получить список названий

data.columns = [...] # изменить

Пример: data.columns = ['Имя', 'Возраст', 'Город']

3.Очистка данных. Валидность данных Очистка данных — это процесс исправления или удаления некорректных, дублированных или отсутствующих значений. Типовые шаги:

Проверка пропусков (isna(), dropna(), fillna())

Проверка дубликатов (duplicated())

Проверка типов данных (dtypes)

4.Функции unique() и info() unique() — возвращает уникальные значения столбца. info() — выводит типы данных и количество непустых значений. Пример:

data['Город'].unique()

data.info()

5.Ошибки в данных (на примере sample.csv) Типичные проблемы, встречающиеся в реальных данных:

5.1. Пропуски в столбцах (пустые ячейки)

5.2. Дубли строк

5.3. Некорректные типы (например, возраст строкой)

5.4. Лишние пробелы в строках

5.5. Опечатки и разные варианты написания (например, "Moscow", "moscow")

5.6. Невалидные значения (например, отрицательный возраст)

6.Удаление столбца. Функция drop() Используется для удаления строк или столбцов. Синтаксис: data.drop('ИмяСтолбца', axis=1, inplace=True)

Пример: data.drop('НенужныйСтолбец', axis=1, inplace=True)

7.Фильтрация ошибок. Функция query() Позволяет фильтровать строки по условию. Синтаксис: data.query('Возраст > 18 and Город == "Москва"')

Пример: взрослые = data.query('Возраст >= 18')

8.Функции str.match() и str.contains() Используются для фильтрации строковых данных по шаблону. Синтаксис и примеры:

data[data['Город'].str.match('Мо.*')]

        # начинается с 'Мо'

data[data['Имя'].str.contains('ив', case=False)]  # содержит 'ив'

9.Преобразование данных. Функция apply() Позволяет применить функцию к каждому элементу столбца. Синтаксис:

data['Столбец'] = data['Столбец'].apply(функция)

Пример:

data['Возраст'] = data['Возраст'].apply(lambda x: int(x) if x != '' else 0)

10.Алгоритм анализа данных индивидуального задания

10.1. подключается файл ./Data/films.csv при помощи pandas.read_csv

10.2. (опционально) Выводятся всевозможные данные о таблице внутри файла ./Data/films.csv

10.3. Создается колонка pribuil, в котором подсчитывается прибыл для каждого фильма из таблицы

10.4. при помощи собственно написанного метода getGanres из таблицы парсируются все жанры, что подсчитываются при помощи pandas.Series

10.5. В выводе подсчитываются самый популярный жанр и самый популярный оттуда фильм